<!--<table>
    <tr>
      <th>Nickname</th>
      <th>Name</th>
      <th>Location</th>
      <th>Abbreviation</th>
      <th>Logo</th>
      <th>League</th>
      <th>Division</th>
    </tr>
    <tr *ngFor="let team of teams">
      <td>{{ team.nickname }}</td>
      <td>{{ team.name }}</td>
      <td>{{ team.location }}</td>
      <td><img src="{{ team.logo }}" alt="{{team.name}} logo" class="image-style"></td>
      <td>{{ team.leage }}</td>
      <td>{{ team.division }}</td>
      <td>
        <button (click)="getTeamPlayers(team.id)">Show Players</button>
      </td>
    </tr>
    <tr id="players" *ngFor="let player of players">
      <td>{{ player.name }}</td>
      <td>
        <button (click)="getPlayerInfo(player.id)">Show info</button>
      </td>
    </tr>
    <tr id="playerInfo">
      <td><img src="{{ playerInfo?.picture }}" alt=" {{ playerInfo?.firstName }} {{ playerInfo?.lastName }} photo"></td>
      <td>{{ playerInfo?.firstName }} {{ playerInfo?.lastName }}</td>
      <td>Number: {{ playerInfo?.number}}</td>
      <td>Primary Position: {{ playerInfo?.primaryPosition }}</td>
      <td>Bat Side: {{ playerInfo?.batSide }}</td>
      <td>Throw Side: {{ playerInfo?.throwSide }}</td>
      <td>Born in: {{ playerInfo?.birthCity}}, {{ playerInfo?.birthStateProvince}}, {{ playerInfo?.birthCountry}}</td>
    </tr>
</table>-->

<div class="container" style="text-align: center">
  <mat-table [dataSource]="teams" class="mat-elevation-z8">

    <ng-container matColumnDef="logo">
      <mat-header-cell *matHeaderCellDef class="text-style">logo</mat-header-cell>
      <mat-cell *matCellDef="let team"><img src="{{team.logo}}" alt="{{team.name} logo" class="image-style"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="text-style">Name</mat-header-cell>
      <mat-cell *matCellDef="let team" class="text-style">{{team.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="leage">
      <mat-header-cell *matHeaderCellDef class="text-style">League</mat-header-cell>
      <mat-cell *matCellDef="let team" class="text-style">{{team.leage}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="division">
      <mat-header-cell *matHeaderCellDef class="text-style">Division</mat-header-cell>
      <mat-cell *matCellDef="let team" style="width: 250px" class="text-style">{{team.division}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="text-style">Details</mat-header-cell>
      <mat-cell *matCellDef="let team"><button [routerLink]="['/mlbTeams', team.id]">Show Players</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let team; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>

