<div class="container" style="text-align: center">
  <mat-table [dataSource]="teams" class="mat-elevation-z8">

    <ng-container matColumnDef="logo">
      <mat-header-cell *matHeaderCellDef class="text-style">logo</mat-header-cell>
      <mat-cell *matCellDef="let team"><img src="{{team.logo}}" alt="{{team.name} logo" class="image-style"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="text-style cell-padding">Name</mat-header-cell>
      <mat-cell *matCellDef="let team" class="text-style cell-padding">{{team.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="leage">
      <mat-header-cell *matHeaderCellDef class="text-style cell-padding">League</mat-header-cell>
      <mat-cell *matCellDef="let team" class="text-style cell-padding">{{team.leage}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="division">
      <mat-header-cell  *matHeaderCellDef class="text-style cell-padding">Division</mat-header-cell>
      <mat-cell *matCellDef="let team" class="text-style cell-padding">{{team.division}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="text-style cell-padding">Details</mat-header-cell>
      <mat-cell  *matCellDef="let team"><button mat-raised-button color="primary" class="text-style button-style" [routerLink]="['/mlbTeams', team.id]">Show Players</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row class="row-height" *matRowDef="let team; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>

