@use '@angular/material' as mat;
$my-palette: mat.$indigo-palette;

@import 'src/styles-variables.scss';


.text-style {
  font-size: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
}

.image-style {
  max-height: 6rem;
  max-width: 6rem;
  display: block;
}

.cell-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.button-style {
  height: 50px;
}

.row-height {
  height: 100px;
}


